.tab-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
}

.tablist{
    border-right: 1px solid #dfdfdf;
}

.instagram-logo{
    display: flex;
    padding: 20px;
    font-size: 14px;
    color: #ffffff;
}

.tab {
    display: flex;
    justify-self: flex-start;
    justify-content: flex-start;
    color: #ffffff;
    padding: 0;
}

.tabpanel{
    width: 470px;
    padding-left: 48px;
    border: 1px solid #dfdfdf;
    margin-left: 20%;
}

